<p>This activity is not mandatory and is just here to give you an idea on how to discover a source forge:</p>
<p>Pick one forge in the list <a href="https://en.wikipedia.org/wiki/Comparison_of_source-code-hosting_facilities" target="_blank">wikipedia : Comparison of source code hosting facilities</a> and check which features are available or not yourself; check your answers with the wikipedia page. If you think the wikipedia page needs an update, go for it and update the page on wikipedia!</p>