<script lang="ts">
  import {getModifierClassName} from '$lib/utils/components';
  import {CircleType, CircleModifier} from './enums';

  export let modifiers: CircleModifier[] = [CircleModifier.ClrPrimary];
  let klass = '';
  export {klass as class};
  export let type: CircleType = CircleType.Default;
  export let href: string | undefined = undefined;

  let baseClassName = 'circle';

  $: modifiersClassName = getModifierClassName(baseClassName, modifiers);
  $: className = [baseClassName, klass, modifiersClassName].filter(Boolean).join(' ');
</script>

{#if type === CircleType.Button}
  <button class={className} {...$$restProps} on:click>
    <span class="circle__inner">
      <slot />
    </span>
  </button>
{:else if type === CircleType.Link}
  <a {href} class={className} {...$$restProps} on:click>
    <span class="circle__inner">
      <slot />
    </span>
  </a>
{:else}
  <span class={className} {...$$restProps}>
    <span class="circle__inner">
      <slot />
    </span>
  </span>
{/if}
