<script lang="typescript">
  import {getModifierClassName} from '$lib/utils/components';
  import {DisplayLevel} from './enums';

  import type {GridColumnModifier} from './enums';

  type ViewportMap = Record<'palm' | 'portable' | 'lap' | 'desk' | string, string>;

  export let modifiers: GridColumnModifier[] = [];
  export let baseWidth = '';
  export let viewportMap: ViewportMap | undefined = undefined;
  let klass = '';

  export {klass as class};
  export let displayLevel: DisplayLevel = DisplayLevel.Block;

  function getVpClassNames(map?: ViewportMap) {
    const items = map
      ? Object.keys(map).map((key) => getModifierClassName(baseClassName, [`${key}-${map[key]}`]))
      : [];

    return items.join(' ');
  }

  const baseClassName = 'g';
  const viewportsClassname = getVpClassNames(viewportMap);
  const modifiersClassName = getModifierClassName(baseClassName, [baseWidth, ...modifiers]);
  const className = [baseClassName, klass, modifiersClassName, viewportsClassname]
    .filter(Boolean)
    .join(' ');
</script>

{#if displayLevel === DisplayLevel.Block}
  <div class={className} {...$$restProps}>
    <slot />
  </div>
{:else}
  <span class={className} {...$$restProps}>
    <slot />
  </span>
{/if}
